/* selector {

property : value 

} */

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant:small-caps ;
    /* color: rgb(247, 247, 247); */
}

.container {
    /* width: 300px ; */
    text-align: center;
    /* background-color: rgb(133, 82, 82); */
    background-image: url("../assets/bg.jpeg");
    background-size: cover;
    height: 100vh ;
}

p {
    color: rgb(5, 20, 15);
}


#para {
    color: brown;
}

.anchortag {
    text-decoration:line-through; 
}