
.container {
    display: flex;
    flex-direction: row ;
    gap: 20px ;
    justify-content:space-around ; 
    background-color: coral;
}

li {
    list-style: none ;
}

.list-items {
    gap: 20px ;
    display: flex;
    flex-direction: row ;
    align-items:center ;
}

h3 {
    position: sticky;
}

.alignment {
    position: sticky;
    background-color: blueviolet;
}










