.container {
    text-align: center;
    background-color: blue;
}


@media (max-width: 480px) {

    .container {
        background-color: brown;
        display: flex;
        flex-direction: row;
        gap: 20px ;
        justify-content: space-around;
    }

}


@media (min-width: 481px ) and (max-width: 768px) {

        .container {
        background-color: rgb(32, 146, 3);
        display: flex;
        flex-direction: row;
        gap: 20px ;
        justify-content: space-around;
    }

    .card {
        width: 15% ;
        background-color: aliceblue;
        border-radius: 20px ;
    }

}


@media (min-width: 769px ) and (max-width: 1024px) {

        .container {
        background-color: rgb(209, 64, 6);
        display: flex;
        flex-direction: row;
        gap: 20px ;
        justify-content: space-around;
    }

}


.box {
 width: 100px;
 height: 100px;
 background-color: blue;
 animation:scale 0.5s ease infinite alternate;
}

@keyframes scale {
    0% {transform: scale(1);}
    100% {transform: scale(1.5);}
}